.videoSection{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 30px;
}

.video img{
    width: min(1000px, 95%);
}


@media screen and (max-width: 900px) {
    .title{
        font-size: 40px;
        font-weight: 800;
        line-height: 55px;
    }
}

@media screen and (max-width: 700px) {
    .title{
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
    }
}