.home {
  background: url("../../../assets/images/SHome.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 650px;
  position: relative;
  padding-top: 30px;
}

.homeContainer{
  max-width: 1100px;
  margin: 0 auto;
}

.homeContent{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.homeInfo{
  max-width: 600px;
  padding: 0 20px;
}

.note {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  background: linear-gradient(
    90deg,
    #00defd 2.44%,
    #00ecfe 20.68%,
    #99fef3 38.43%,
    #ffdb6d 58.15%,
    #feb741 77.87%,
    #f78100 95.62%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.note img {
  height: 40px;
}
.title {
  font-size: 65px;
  font-weight: 700;
  line-height: 75px;
  color: #fff;
  margin-bottom: 30px;
}
.title span {
  background: linear-gradient(268.22deg, #f09819 31.72%, #ff4e50 97.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 10px 20px rgba(106, 40, 230, 0.2);
}

.homeImg{
  max-height: 400px;
  max-width: 410px;
  overflow: hidden;
}

.homeImg img {
  width: 100%;
}

.form {
  position: relative;
  padding: 2px;
  border-radius: 40px;
}

.form input[type="tel"] {
  border-radius: 140px !important;
  height: 48px !important;
  width: 385px !important;
  box-shadow: 0 0 0 3px #da4453;
}

.linkButton {
  height: 40px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(263.71deg, #da4453 4.93%, #89216b 87.75%);
  color: #fff;
  width: 160px;
  border: none;
  position: absolute;
  top: 6px;
  left: 223px;
}


.homeFooter{
  /* height: 80px; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(263.71deg, #DA4453 4.93%, #89216B 87.75%);
  column-gap: 40px;
  row-gap: 30px;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
}

.homeFooter>div{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  gap: 10px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .homeFooter{
    position: unset;
  }
}

@media screen and (max-width: 800px) {
  .note{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .title{
    font-size: 37px;
    line-height: 43px;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .form input[type="tel"] {
    width: 350px !important;
  }
  .linkButton {
    position: unset;
  }
  .note span{
    display: flex;
    flex-direction: column;
  }
  .homeFooter{
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .form input[type="tel"] {
    width: 300px !important;
  }

}

