.roadmap {
  padding-top: 50px;
  text-align: center;
  background: url("../../../../../assets/images/Roadmap\ \(1\).png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* min-height: 650px; */
  margin-bottom: 80px;
}

.title {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
}

.hexagons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
  padding: 30px 20px;
}

.hex > img,
.hex {
  height: min(425px, 90%);
  width: min(425px, 90%);
}

.hexagon1{
  background: url("../../../../../assets/images/Polygon\ 8-3.png")
  no-repeat center center;
}

/* .hexagon1::after{
  content: "";
  height: 15px;
  width: 100px;
  background: linear-gradient(270.94deg, #6ddbf5 0.41%, #603dde 103.39%);
} */

.hexagon2{
  background: url("../../../../../assets/images/Polygon\ 8-3.png")
  no-repeat center center;
}

.hexagon3{
  background: url("../../../../../assets/images/Polygon\ 8-2.png")
  no-repeat center center;
}

.hexagon4{
  background: url("../../../../../assets/images/Polygon\ 8-1.png")
  no-repeat center center;
}

.hexagon5{
  background: url("../../../../../assets/images/Polygon\ 8-1.png")
  no-repeat center center;
}

.hexagon {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: min(425px, 100vw);
  aspect-ratio: 1/1.06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hextitle {
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  background: linear-gradient(270.94deg, #6ddbf5 0.41%, #603dde 103.39%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.goal {
  margin: 15px auto;
  display: flex;
  gap: 15px;
  justify-content: float-left;
  align-items: center;
  width: 80%;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 38px;
    line-height: 40px;
  }
}