.about {
  background: url("../../../assets/images/AboutBackground.png") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  padding: 60px 0;
}

.aboutContainer{
  max-width: 1100px;
  margin: 0 auto;
}
